h1 {
  color: steelblue;
}
nav {
  background-color: steelblue;
  padding: 1rem;
}
nav a {
  color: white;
  padding: 1rem;
  display: block;
}
main {
  max-width: 800px;
  margin: 0 auto;
}
aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #eee;
  color: #333;
}
aside img {
  width: 200px;
  height: auto;
}
main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
p {
  padding: 0px;
}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}